<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3D Navbar Animation</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static\assets\css\base.css" />
    
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="menu">
          <h3 class="logo">AGRO<span>CART</span></h3>
          <div class="hamburger-menu">
            <div class="bar"></div>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="main">
          <header>
            <div class="overlay">
              <div class="inner">
                <h2 class="title">AGROCART-AGRICULTURE FULL OF POSSIBILITY</h2>
                <p>
                  DBMS MINI PROJECT
                </p>
                
              </div>
            </div>
          </header>
        </div>
        <div class="shadow one"></div>
        <div class="shadow two"></div>
      </div>

      <div class="links">
        <ul>
          <li>
            <a href="/dashboard" style="--i: 0.05s;">ADMIN DASHBOARD</a>
          </li>
          <li>
            <a href="/indexf" style="--i: 0.1s;">FARMER LOGIN</a>
        </li>
        <li>
          <a href="/indexb" style="--i: 0.15s;">customer LOGIN</a>
        </li>
        <li>
          <a href="/farmerhome" style="--i: 0.2s;">FARMER HOME</a>
        </li>
        <li>
          <a href="/update" style="--i: 0.25s;">UPDATE</a>
        </li>
        
      </ul>
    </div>
  </div>
  <script src="static/assets/js/base.js"></script>
</body>
</html>

    