<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        FarmProducts
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static\assets\css\bh.css">
</head>

<body>
    <div class="container" style="background-image: url(static/brooke-lark-08bOYnH_r_E-unsplash.jpg);">
        <div class="overlay"></div>
        <div class="nav">
            <div class="menu" onclick="openNav()">
                <div class="hamburger"></div>
            </div>
            <div class="logo">
                AGRO CART
            </div>
            <div class="cart">
                <i class='bx bx-cart-alt'></i>
                
            </div>
        </div>
        <div id="myNav" class="nav-overlay">
            <div class="nav-overlay-content">
                <a href="/">HOME</a>
                <a href="/agro">MENU</a>
                <a href="/cart1">CART</a>
                <a href="/buyerinfo">PROFILE</a>
                <a href="/logout1">LOGOUT</a>
            </div>
        </div>
        
        <div class="fashion">
            AGROCART
        </div>
        
        <div class="slide-control">
            <i class='bx bxs-right-arrow'></i>
        </div>
        <div class="overlay"></div>
        <div class="col-5" style="z-index: 97;">
            <div class="info">
                <!-- info 1 -->
                <div class="product-info">
                    <h1>
                        FR<span style="color: #0F9D58;">ESH</span>
                    </h1>
                    <h1>
                        <span style="color: #0F9D58;">PROD</span>UCTS
                    </h1>
                   
                    <h2>
                     <span style="color: #0F9D58;"> KNOW YOUR FARMER</span>
                      KNOW YOUR FOOD
                    </h2>
                   
                    <button>
                        Shop now
                     
                    </button>
                </div>
                <!-- end info 1 -->
                <!-- info 2 -->
               
                <!-- end info 4 -->
            </div>
        </div>
        <div class="col-7">
            <div class="slider">
                <div class="slide">
                    <div class="img-holder"
                    style="background-image: url(https://images.unsplash.com/photo-1601004890684-d8cbf643f5f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);">
                        
                </div>
                <div class="slide">
                    <div class="img-holder"
                    style="background-image: url(https://images.unsplash.com/photo-1547514701-42782101795e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8N3x8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);">
                </div>
                <div class="slide">
                    <div class="img-holder"
                    style="background-image: url(https://images.pexels.com/photos/2611810/pexels-photo-2611810.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);">
                </div>
                </div>
                <div class="slide">
                    <div class="img-holder"
                        style="background-image: url(https://images.pexels.com/photos/1367242/pexels-photo-1367242.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="static\assets\js\bh.js"></script>
</body>

</html>