
<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script
   src="https://kit.fontawesome.com/64d58efce2.js"
   crossorigin="anonymous"
  ></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static\assets\css\card.css" />
  <title>Sign in & Sign up Form</title>
 </head>
<body>
    <a href="/message"> PAY</a>
      <div class="container">
          <div class="card">
              <div class="card-inner">
                  <div class="front">
                    <img src ="static\map.png" class="map-img">
                      
                      <div class="row">
                          <img src ="static\chip.png" width="60px">
                          <img src ="static\visa.png" width="80px">
                      </div>
                      <div class="row card-no">
                      <p>5234</p>
                      <p>2150</p>
                      <p>7899</p>
                      <p>7654</p>
                      </div>
                      <div class="row card-holder">
                      <p> CARD HOLDER </p>
                      <p>VALID TILL</p>
                      </div>
                      <div class="row name">
                          <p>name</p>
                          <p>10/25</p>
                      </div>
                  </div>
                  <div class="back">
                      <img src="static\map.png" class="map-img">
                      <div class="bar"></div>
                      <div class="row  card-cvv">
                          <div>
                              
                             <input type="text">
                             <style>
                                 input[type=text]{
                                     padding:15px;
                                     width:85%;
                                 }
                             </style>
                          </div>
                          
                      </div>
                    <div class="row card-text">
                        <p>NAME</p>
                        <input type=text>
                    </div>
                    <div class="row signature">
                        <p>CUSTOMER SIGNATURE</p>
                        <img src="static\visa.png" width="80px">

                    </div>

                  </div>

                

              </div>
            </div>
         </div>
         
         </body>
</html>