<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FARMERHOME </title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
 
</head>
<link rel="stylesheet" href="static\assets\css\bhome.css" />
<body>
    <div class="nav">
      <div class="menu-wrap">
        <a href="">
          <div class="logo">
            FRESH AGROPRODUCTS
          </div>
        </a>
        <div class="menu">
          <a href="/">
          <div class="menu-item">
            HOME 
          </div>
        </a>
        <a href="/farmerregister">
          <div class="menu-item">
          REGISTER
          </div>
        </a>
        <a href="/addagroproducts">
          <div class="menu-item">
            ADD PRODUCTS
          </div>
        </a>
        <a href="/vieworders">
          <div class="menu-item">
           VIEW ORDERS
          </div>
        </a>
        <a href="/update">
          <div class="menu-item">
           update
          </div>
        </a>
        
        <a href="/logout">
          <div class="menu-item">
            LOGOUT
          </div>
        </a>
      </div>
      <div class="right-menu">
        <div class="cart-btn">
          <i class='bx bx-cart-alt'></i>
        </div>
      </div>
    </div>
    <section id="home" class="fullheight align-items-center bg-img bg-img-fixed"
        style="background-image: url(static/brooke-lark-08bOYnH_r_E-unsplash.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-6 col-xs-12">
                    <div class="slogan">
                        <h1 class="left-to-right play-on-scroll">
                            AGROCART
                        </h1>
                        <p class="left-to-right play-on-scroll delay-2">
                          Grab The Best Way To Love Your Field
                        </p>
                        <div class="left-to-right play-on-scroll delay-4">
                            <button>
                                Order now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
          






          

    </div>
    <script src="static\assets\js\bhome.js"></script>
</body>
</html>
